@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-primary">
            Logout
        </a>
    </div>
    @if (TempData["ErrorMessage"] is string msg)
    {
        <div class="alert alert-danger">@msg</div>
    }

    <h2>Акаунти</h2>
    
</div>
